<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BD7DCEE1C756AC200CF0A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD7DD071C756AC300CF0A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD7DD121C756AC300CF0A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
